/*+--------------------+*/
/*|       Header       |*/
/*+--------------------+*/

header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
    padding: 0px;

    z-index: 1;

    border-bottom-color: #5B6073;
    border-bottom-width: thin;
    border-bottom-style: solid;
}
nav ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0 0 0;
}
.navitem {
    padding: 5px;    
    border-bottom: 1px solid #5B6073;
    margin: auto;
    text-align: center;
}

.navitem a {
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #5B6073;
}

#navlogo {
    display: none; /* Hide Logo */
}

/*+--------------------+*/
/*|    Divider image   |*/
/*+--------------------+*/

#dividerimg {
    width: 100%;
    display: block; /* Fixes the weird space issue */   
}

#dividerimglogo {
    position: absolute;    
    left: 50%;
    top: 27%;
    transform: translateX(-50%);
    width: 50%;
}

