/* 
This file contains CSS for the Home page. This includes:

Divider image
Content


*/

#dividerimg {
    width: 100%;
    display: block; /* Fixes the weird space thing */   
}

#dividerimglogo {
    position: absolute;    
    left: 50%;
    top: 27%;
    transform: translateX(-50%);
    width: 50%;
}

/*+--------------------+*/
/*|      Content       |*/
/*+--------------------+*/

.content:first-child {
    margin-left: 10%;
}

.content {
    width: 25%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    float: left;
    /*background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;*/ /*Undecided - maybe another color??? */
    
    
    position: relative;
}

.content img {
    width: 100%;  
}

.content h2 a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 21px;
    letter-spacing: 1.25px;
    color: #5B6073;
}

.content p {
    color: #5B6073;
}

.content:not(:last-child) p:last-child {
    position: absolute;
    
    bottom: 0;
}

main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    overflow: hidden;
}