/*+--------------------+*/
/*|       Boxes        |*/
/*+--------------------+*/

.wrapper {
    overflow: hidden;
}

iframe {
    width: 40%;
    height: 900px;
    margin-left: 20%;
    margin-right: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    background: #B7B7B7;
    
    border: none;
}

aside {
    width: 15%;
    margin-top: 30px;
    margin-right: 20%;
    margin-left: 0;
    padding: 0px;
    float: left;
    background: #B7B7B7;
}


/*+--------------------+*/
/*|        Text        |*/
/*+--------------------+*/

h3 {
    background-color: #5B6073;

    margin: 0 0 10px 0;
    padding: 15px 11.5px 15px 11.5px;

    width: calc(100% - 23px); /* Make sure h3 doesn't use space outside of box */
    letter-spacing: 1px;
    
    text-align: center;
    color: #B7B7B7;
    font-family: 'Open Sans', sans-serif;
}

aside p {
    margin-left: 6.5px;
}

/*+--------------------+*/
/*|     Class Table    |*/
/*+--------------------+*/

table {
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-right: 4px;
}

td {
    width: calc(100%/6);
}

.classicon {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: calc(50% - 10px);
}

.specicon {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: calc(50% - 10px);
}

.notneeded { /* Grey out specs we don't need */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%) brightness(50%);
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
}