/*+--------------------+*/
/*|       Boxes        |*/
/*+--------------------+*/

.wrapper {
    overflow: hidden;
}

/*+--------------------+*/
/*|        Text        |*/
/*+--------------------+*/

h1 {
    background-color: #5B6073;
    
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    
    padding: 15px 0 15px 23px;
    
    width: calc(100% - 23px); /* Make sure h1 doesn't use space outside of box */
    
    font-size: 28px;
    font-weight: 600;
    color: #B7B7B7;
    font-family: 'Open Sans', sans-serif;
}

.wrapper p {
    margin: 2px 20px 10px 20px;
    padding: 3px;
    color: #5B6073;
}

main p {
    line-height: 25px;
}

aside p {
    margin-bottom: 2px !important; /* Conserve space */
}

aside p:last-child {
    margin-bottom: 10px !important; /* Make sure last p in every aside fills out the last bit of space to make it look symmetric */
}

li {
    font-family: 'Raleway', sans-serif;
    color: #5B6073; 
}